.header{
	height: 800px;
	background: #ff6d00 0%;
}

a{
	font-family: Open Sans, sans-serif, bold;
	font-size: 16px;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#teams:hover{
	border-bottom: 3px solid white;
}

#events:hover{
	border-bottom: 3px solid white;
}

/*#articles a{
	border-bottom: 3px solid white;
}*/

#articles:hover{
	border-bottom: 3px solid white;
}

.menu1{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 40%;
	color: white;
}

.bandeau{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 70px;
	text-align: center;
}

#teams{
	border-bottom: 3px solid white;
}
